#user-show
  .row.user-content
    .col-sm-7.content-left
      .user-info
        .well
          .avatar
            .user-image
              - if @user.avatar.present?
                = image_tag(@user.avatar.image.url)
              - else
                = image_tag("/assets/avatar.png")
            .name 
              = @user.name
            .star-date 
              Tham gia từ: 
              = @start_date
          .clear-fix  
          .status
            %div
              Số ảnh đã đăng: 
              %span.number 
                = @total_anh_che
            %div
              Được like:  
              %span.number 
                = @user.like_total
              lần
            %div
              Được bình luận: 
              %span.number 
                = @total_comment
              lần
            %div
              Được xem: 
              %span.number 
                = @total_view
              lần
            %div
              Thứ hạng: 
              %span.number 
                = @rank
          %h4.option
            %a{:href => truyen_user_path(@user)}
              %i.fa.fa-pencil-square-o{"aria-hidden" => "true"} 
              truyện  đã đăng            
    .col-sm-5.content-right
  .user-images   
    %h3.header Ảnh đã đăng  
    - @posts.each do |anh_che|
      .row.main-content
        .col-sm-7.content-left
          %a{:href => post_path(anh_che)} 
            - if anh_che.avatar.present? && anh_che.source == "vuivonvuivon"
              = image_tag(anh_che.avatar.image.url(:medium),class: "watermark")
            - elsif anh_che.avatar.present? && anh_che.source != "vuivonvuivon"
              = image_tag(anh_che.avatar.image.url(:origin),class: "watermark-origin")
            - else
              %span Missing
        .col-sm-5.content-right
          .sticky_column
            .anh-che-title
              %h4
                %a.title{:href => post_path(anh_che)}
                  = anh_che.title
            .info
              .uploader
                Đăng bởi 
                %a{:href => user_path(@user)}  
                  = @user.name
                %span.publish-time
                  = time_ago_in_words(anh_che.publish)
                trước    
                  
              .status
                %span{style: "padding-right: 10px;"}
                  %i.fa.fa-eye{"aria-hidden" => "true"}
                  = anh_che.view
                %span
                  %i.fa.fa-comments{"aria-hidden" => "true"}
                  10  
            .fb-like-button
              .before-click
                %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
                %span.text Like
                %span.number 
                  = anh_che.like
              .after-click 
                %i.fa.fa-check{"aria-hidden" => "true"}
                %span.text Like
                %span.number 
                  = anh_che.like + 1
              .post-id{style: "display:none;"} 
                = anh_che.id
            .fb-share-button{"data-href" => post_url(anh_che), "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "small"}
              %a.fb-xfbml-parse-ignore{:href => post_url(anh_che)+"&src=sdkpreparse", :target => "_blank"} Share  
      .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"}
  - if @posts.size > 9    
    .infinite-scrolling
      %button.btn.btn-info{:type => "button"} xem thêm, còn nhiều lắm
      = will_paginate @posts
  - elsif @posts.size == 0   
    .notice 
      %h4 Hiện tại chưa có nội dung nào... a hi hi.     
