#frontend-anh-che
  %h3 Trang chủ
  .tips 
    %span 
      Website 
    đang trong quá trình 
    %span 
      nâng cấp
    , sự ủng hộ của bạn là động lực của chúng tôi.
  - @posts.limit(10).each do |post|
    .row.main-content
      .col-sm-7.content-left
        - if post.anh_che?
          %a.picture{:href => post_path(post)}
            - if post.avatar.present? && post.source == "vuivonvuivon"
              = image_tag(post.avatar.image.url(:medium),class: "watermark")
            - elsif post.avatar.present? && post.source != "vuivonvuivon"
              = image_tag(post.avatar.image.url(:origin),class: "watermark-origin")
            - else
              %span Missing
        - elsif post.truyen_cuoi?
          %a.truyen-cuoi-content{:href => post_path(post)}
            .panel.panel-default
              .panel-body  
                = sanitize post.content
      .col-sm-5.content-right
        .sticky_column
          .anh-che-title
            %h4
              %a{:href => post_path(post)} 
                = post.title
          .info
            Đăng bởi 
            %a{:href => user_path(post.user)} 
              = post.user.name
            19 phút trước 
            .status
              %span.view
                %i.fa.fa-eye{"aria-hidden" => "true"}
                = post.view
              %span.comment
                %i.fa.fa-comments{"aria-hidden" => "true"}
                =  post.comment
          .fb-like-button
            .before-click
              %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
              %span.text Like
              %span.number 
                = post.like
            .after-click 
              %i.fa.fa-check{"aria-hidden" => "true"}
              %span.text Like
              %span.number 
                = post.like + 1
            .post-id{style: "display:none;"} 
              = post.id
          .fb-share-button{"data-href" => post_url(post), "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "small"}
            %a.fb-xfbml-parse-ignore{:href => post_url(post)+"&src=sdkpreparse", :target => "_blank"} Share
 
    .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"} 
  - if @posts.size > 9    
    .infinite-scrolling
      %button.btn.btn-info{:type => "button"} xem thêm, còn nhiều lắm
      = will_paginate @posts
  - elsif @posts.size == 0   
    .notice 
      %h4 Hiện tại chưa có nội dung nào... a hi hi. 

                  
