#post-show
  - if flash[:error] == []
    .alert.alert-success.alert-dismissable.fade.in{style: "margin:20px;"}
      %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
      %strong Success!
      Nội dung của bạn sẽ được bình chọn bởi hội đồng trước khi được hiển thị ở trang chủ. 
  .row.post-detail
    .col-xs-7.content-left
      .post-title
        %h3 
          = @post.title
      .status
        %span.view
          %i.fa.fa-eye{"aria-hidden" => "true"} 
            Lượt xem:
            %span.number 
              = @post.view
        %span.comment 
          %i.fa.fa-comments{"aria-hidden" => "true"} 
            Lượt bình luận: 
            %span.number 2
      .source
        %span  
          %i.fa.fa-globe{"aria-hidden" => "true"} 
            Nguồn:
            %span
              - if @check_source == true
                suu tam
              - elsif @post.source.present?
                = @post.source
              - else
                suu tam
      .fb-like{"data-action" => "like", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true", "data-size" => "small"}       
    .col-xs-5.content-right
      .well.uploader
        %p.upload_at Đăng 2 phút trước bởi
        .user_info
          .image
            = image_tag("/assets/admin.jpg")
          .name-like
            %span.name
              = link_to "Van Dao"
            %span
              %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
              789

  .post-content
    - if @post.anh_che?
      .post-image
        - if @post.avatar.present?
          = image_tag(@post.avatar.image.url)
        - else
          %span Missing
    - else
      .content 
        = sanitize @post.content
  #comment-facebook
    .fb-comments{"data-href" => "https://localhost:3000", "data-numposts" => "5"}       


