#frontend-truyen-cuoi
  %h3 Truyện cười mới nhất
  .tips 
    %span 
      Website 
    đang trong quá trình 
    %span 
      nâng cấp
    , sự ủng hộ của bạn là động lực của chúng tôi.
  - @posts.limit(10).each do |truyencuoi|
    .row.main-content
      .col-sm-7.content-left
        %a.truyen-cuoi-content{:href => post_path(truyencuoi)}
          .panel.panel-default
            .panel-body  
              = sanitize truyencuoi.content
      .col-sm-5.content-right
        .sticky_column
          .truyen-cuoi-title
            %h4
              %a.title{:href => post_path(truyencuoi)} 
                = truyencuoi.title
          .info
            .upload-at
              Đăng bởi 
              %a.name{:href => user_path(truyencuoi.user) }
                = truyencuoi.user.name
              19 phút trước 
            %p.status
              %span.view
                %i.fa.fa-eye{"aria-hidden" => "true"}
                = truyencuoi.view
              %span
                %i.fa.fa-comments{"aria-hidden" => "true"}
                  = truyencuoi.comment
          .fb-like-button
            .before-click
              %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
              %span.text Like
              %span.number 
                = truyencuoi.like
            .after-click 
              %i.fa.fa-check{"aria-hidden" => "true"}
              %span.text Like
              %span.number 
                = truyencuoi.like + 1
            .post-id{style: "display:none;"} 
              = truyencuoi.id
          .fb-share-button{"data-href" => post_url(truyencuoi), "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "small"}
            %a.fb-xfbml-parse-ignore{:href => post_url(truyencuoi)+"&src=sdkpreparse", :target => "_blank"} Share  
    .clear-fix{style: "border-bottom: 1px solid #ddd; margin-bottom: 20px;"}   
  - if @posts.size > 9    
    .infinite-scrolling
      %button.btn.btn-info{:type => "button"} xem thêm, còn nhiều lắm
      = will_paginate @posts
  - elsif @posts.size == 0   
    .notice 
      %h4 Hiện tại chưa có nội dung nào... a hi hi. 
