!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Truyenvui
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet"}/
    %script{:src => "//cdn.tinymce.com/4/tinymce.min.js"}
    :javascript
      tinymce.init({ selector:'textarea', menubar: false });




    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :css
      /* Remove the navbar's default margin-bottom and rounded borders */ 
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
      }
      
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;} 
      }
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Logo
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Mới
            %li
              %a{:href => "#"} Hot
            %li.dropdown.dang-bai
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
                %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                Đăng bài
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#myModal-dang-anh", "data-toggle" => "modal"} Đăng ảnh
                %li
                  %a{:href => "#myModal-dang-truyen", "data-toggle" => "modal"} Đăng Truyện    
            %li.dropdown.category-truyen
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
                %i.fa.fa-list{"aria-hidden" => "true"}
                Thể loại truyện 
                %span.caret
              %ul.dropdown-menu
                - @categories.each do |category|
                  %li
                    %a{:href => category_path(category)} 
                      = category.name
            %li
              %a{:href => "/truyencuoi"} Truyện cười       
          %ul.nav.navbar-nav.navbar-right.login-facebook-button
            - if current_user
              %li.avatar.dropdown 
                = image_tag(current_user.avatar.image.url,class: "dropdown-toggle","data-toggle" => "dropdown")
                %ul.option.dropdown-menu
                  %li 
                    = link_to "ảnh đã đăng", user_path(current_user)
                  %li 
                    = link_to "truyện đã đăng", truyen_user_path(current_user)
                  %li 
                    = link_to "thông tin cá nhân", info_users_path
                  %li 
                    = link_to "thoát", destroy_user_session_path, :method => :delete
            - else  
              %li 
                %a{:href => user_facebook_omniauth_authorize_path, style: "padding: 0;"}
                  = image_tag("/assets/login-facebook.png")  
    #content.container-fluid.text-center{style: "min-height: 900px"}
      .row.content
        .col-sm-1.sidenav.content-left
        .col-sm-7.text-left.main-content
          = yield
        .col-sm-3.sidenav.sidebar
          .btn-dang-anh
            %button.btn.btn-primary{:type => "button",:href => "#myModal-dang-anh", "data-toggle" => "modal"}  Click để bắt đầu chia sẻ những bức ảnh vui!
          #topUser
            .well
              #topUserHeader
                %h4
                  %i.fa.fa-users{"aria-hidden" => "true"}
                  Top danh hài
                .period
                  %ul
                    %li.active 
                      %a{"data-toggle" => "tab", :href => "#tuan"} tuần
                      \/
                    %li 
                      %a{"data-toggle" => "tab", :href => "#thang"} tháng
                      \/
                    %li 
                      %a{"data-toggle" => "tab", :href => "#tatca"} tất cả      
              .clear-fix 
                #topUserContent
                  .tab-content
                    #tuan.tab-pane.fade.in.active 
                      - @top_user_tuan.each do |f|
                        .topUsers
                          %a.detail-user{ :href => user_path(f)}
                            .user-image
                              - if f.avatar.present?
                                = image_tag(f.avatar.image.url)
                              - else
                                = image_tag("/assets/avatar.png")
                            .info
                              %span.name
                                = f.name.truncate(10)
                              %span
                                %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
                                = f.posts.sum(:like)
                      .clear-fix
                      .moreTop
                        %a{href: ""} xem thêm »
                    #thang.tab-pane.fade
                      - @top_user_thang.each do |f|
                        .topUsers
                          %a{ :href => user_path(f) }
                            .user-image
                              - if f.avatar.present?
                                = image_tag(f.avatar.image.url)
                              - else
                                = image_tag("/assets/avatar.png")
                            .info
                              %span.name
                                = f.name.truncate(10)
                              %span
                                %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
                                = f.posts.sum(:like)
                      .clear-fix
                      .moreTop
                        %a{href: ""} xem thêm »
                    #tatca.tab-pane.fade
                      - @top_user_tatca.each do |f|
                        .topUsers
                          %a{ :href => user_path(f) }
                            .user-image
                              - if f.avatar.present?
                                = image_tag(f.avatar.image.url)
                              - else
                                = image_tag("/assets/avatar.png")
                            .info
                              %span.name
                                = f.name.truncate(10)
                              %span
                                %i.fa.fa-thumbs-up{"aria-hidden" => "true"}
                                = f.posts.sum(:like)
                      .clear-fix
                      .moreTop
                        %a{href: ""} xem thêm »        
          #fan-fage-facebook
            .well
              %h4 Ủng hộ VuiVon bạn nhé!
              .fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/Vui-V%E1%BB%93n-1283615565042606", "data-show-facepile" => "true", "data-small-header" => "false"}
                %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/Vui-V%E1%BB%93n-1283615565042606"}
                  %a{:href => "https://www.facebook.com/Vui-V%E1%BB%93n-1283615565042606"} Vui Vồn
        .col-sm-1.sidenav.content-right     
    %footer.container-fluid.text-center
      %p Footer Text
    #myModal-dang-anh.modal.fade{:role => "dialog"}
      .modal-dialog.modal-lg
        .modal-content
          - if current_user
            .modal-header{style: "text-align:center"}
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h2.modal-title Đăng hình ảnh mới 
              %h5{style: "color:orange"} Chọn file từ máy tính của bạn, VuiVon hỗ trợ upload Ảnh, Video lên hệ thống.
            .modal-body
              .div.form-dang-anh{style: "padding:10px"}
                %h4{style: "text-align:center;padding-bottom:20px;"} Lưu ý: Đây là SÂN CHƠI MIỄN PHÍ với môi trường trong sạch và lành mạnh cho các bạn trẻ. Hãy tham gia bằng sự HÀI HƯỚC trong phạm vi VĂN HOÁ và PHÁP LUẬT cho phép
                = form_for "post" , url: posts_path do |f|
                  .form-group
                    = f.label "Tiêu đề của ảnh"
                    = f.text_field :title, class: "form-control", :placeholder => "Tiêu đề của ảnh"
                    = f.label "Select a file", style: "margin-top:15px;"
                    = f.file_field :avatar, id: "something_else_unique"
                    %img#something_unique{style: "max-width:500px;"}
                    = f.label "Nguồn", style: "margin-top:15px;display:block;"
                    = f.text_field :source, class: "form-control",:placeholder => "Nguồn của ảnh"
                    = f.text_field :post_type, style: "display:none", value: "anh_che"
                  %button.btn.btn-primary{:type => "submit",style: "margin-top:15px;"}  Đăng hình
          - else  
            .modal-header.check-login{style: "text-align:center"}
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h3 Bạn phải đăng nhập mới được đăng bài
              %a{:href => user_facebook_omniauth_authorize_path, style: "padding: 0;"}
                = image_tag("/assets/login-facebook.png")  
                
                  
    #myModal-dang-truyen.modal.fade{:role => "dialog"}
      .modal-dialog.modal-lg
        .modal-content
          - if current_user
            .modal-header{style: "text-align:center"}
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h2.modal-title Đăng truyện mới 
            .modal-body
              .div.form-dang-truyen{style: "padding:10px"}
                %h4{style: "text-align:center;padding-bottom:20px;"} Lưu ý: Đây là SÂN CHƠI MIỄN PHÍ với môi trường trong sạch và lành mạnh cho các bạn trẻ. Hãy tham gia bằng sự HÀI HƯỚC trong phạm vi VĂN HOÁ và PHÁP LUẬT cho phép
                = form_for "post" , url: posts_path do |f|
                  .form-group
                    = f.label "Tiêu đề của truyện"
                    = f.text_field :title, class: "form-control", :placeholder => "Tiêu đề của truyện"
                    = f.label "Nội dung truyện", style: "margin-top:15px;"
                    = f.text_area :content
                    = f.label "Thể loại truyện", style: "margin-top:15px;"
                    = f.collection_select :category_id, Category.all, :id, :name
                    = f.label "Nguồn", style: "margin-top:15px;display:block;"
                    = f.text_field :source, class: "form-control",:placeholder => "Nguồn của ảnh"
                    = f.text_field :post_type, style: "display:none", value: "truyen_cuoi"
                  %button.btn.btn-primary{:type => "submit",style: "margin-top:15px;"}  Đăng truyện  
          - else
            .modal-header.check-login{style: "text-align:center"}
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h3 Bạn phải đăng nhập mới được đăng bài
              %a{:href => user_facebook_omniauth_authorize_path, style: "padding: 0;"}
                = image_tag("/assets/login-facebook.png")
  
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=579708585535528";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  - if current_user
    :javascript
      function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
          f=files[0]
          // Only process image files.
          if (f.type.match('image.*')) {
            var reader = new FileReader();
            reader.onload = (function(theFile) {
              return function(e) {
                // alert(e.target.result);
                document.getElementById("something_unique").src=e.target.result;
              };
            })(f);

          // Read in the image file as a data URL.
          reader.readAsDataURL(f);
          }
        }
      document.getElementById('something_else_unique').addEventListener('change', handleFileSelect, false);               


