!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Truyenvui
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet"}/
    %script{:src => "//cdn.tinymce.com/4/tinymce.min.js"}
    :javascript
      tinymce.init({ selector:'textarea', menubar: false });




    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :css
      /* Remove the navbar's default margin-bottom and rounded borders */ 
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
      }
      
      /* Set black background color, white text and some padding */
      footer {
        background-color: #555;
        color: white;
        padding: 15px;
      }
      
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;} 
      }
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Logo
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Mới
            %li
              %a{:href => "#"} Hot
            %li.dropdown.dang-bai
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                Đăng bài
                %span.caret
              %ul.dropdown-menu{style: "background: #f1f1f1; "}
                %li
                  %a{:href => "#myModal-dang-anh", "data-toggle" => "modal"} Đăng ảnh
                %li
                  %a{:href => "#myModal-dang-truyen", "data-toggle" => "modal"} Đăng Truyện    
            %li.dropdown.category-truyen
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-list{"aria-hidden" => "true"}
                Thể loại truyện 
                %span.caret
              %ul.dropdown-menu{style: "background: #f1f1f1; "}
                %li
                  %a aaaaaa
                %li
                  %a bbbbbb
            %li
              %a{:href => "#"} Truyện cười       
          %ul.nav.navbar-nav.navbar-right.login-facebook-button
            %li 
              %a{:href => "", style: "padding: 0;"}
                = image_tag("/assets/login-facebook.png")  
    .container-fluid.text-center
      .row.content
        .col-sm-1.sidenav{style: "text-align:left"}
        .col-sm-7.text-left
          = yield
        .col-sm-3.sidenav
          #user_info{style: "-moz-box-shadow: 2px 2px 2px 2px #ccc; -webkit-box-shadow: 2px 2px 2px 2x #ccc; box-shadow: 2px 2px 2px 2px #ccc;"}
            .well{style: "padding:0px; text-align: left;height: auto ;background:#c9c9c9"}
              .avartar  
                .user-image
                  = image_tag("/assets/admin.jpg")
                .name
                  %h5{style: "font-weight:bold;margin-bottom: 4px;padding-top: 5px;"} Nguyen Van Dao
                  %div{style: "font-size: 13px;"} Tham gia từ: 12/11/2016
              .clear-fix  
              .status{style: "margin: 20px 10px 10px 10px;"}
                %div
                  Số ảnh đã đăng: 
                  %span.number 102 
                %div
                  Được like:  
                  %span.number 102
                  lần
                %div
                  Được bình luận: 
                  %span.number 102
                  lần
                %div
                  Được xem: 
                  %span.number 102
                  lần
                %div
                  Thứ hạng: 
                  %span.number 102               
        .col-sm-1.sidenav     
    %footer.container-fluid.text-center
      %p Footer Text
    #myModal-dang-anh.modal.fade{:role => "dialog"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header{style: "text-align:center"}
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h2.modal-title Đăng hình ảnh mới 
            %h5{style: "color:orange"} Chọn file từ máy tính của bạn, VuiVon hỗ trợ upload Ảnh, Video lên hệ thống.
          .modal-body
            .div.form-dang-anh{style: "padding:10px"}
              %h4{style: "text-align:center;padding-bottom:20px;"} Lưu ý: Đây là SÂN CHƠI MIỄN PHÍ với môi trường trong sạch và lành mạnh cho các bạn trẻ. Hãy tham gia bằng sự HÀI HƯỚC trong phạm vi VĂN HOÁ và PHÁP LUẬT cho phép
              %form
                .form-group
                  %label{:for => "email"} Tiêu đề của ảnh
                  %input#email.form-control{:placeholder => "Enter email", :type => "email"}/
                  %label{style: "margin-top:15px;"} Select a file:
                  %input{:name => "img", :type => "file", id: "something_else_unique"}/
                  %img#something_unique
                %button.btn.btn-primary{:type => "submit"}  Đăng hình
    #myModal-dang-truyen.modal.fade{:role => "dialog"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header{style: "text-align:center"}
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h2.modal-title Đăng truyện mới 
          .modal-body
            .div.form-dang-anh{style: "padding:10px"}
              %h4{style: "text-align:center;padding-bottom:20px;"} Lưu ý: Đây là SÂN CHƠI MIỄN PHÍ với môi trường trong sạch và lành mạnh cho các bạn trẻ. Hãy tham gia bằng sự HÀI HƯỚC trong phạm vi VĂN HOÁ và PHÁP LUẬT cho phép
              %form
                .form-group
                  %label{:for => "email"} Tiêu đề của truyen
                  %input#email.form-control{:placeholder => "Enter email", :type => "email"}/
                  %label{style: "margin-top:15px;"} Nội dung truyện
                  %textarea 
                  %label{style: "margin-top:15px;"} Thể loại truyện
                  %select{:name => 'param_name'}
                    %option{:value => 'A'} A data
                    %option{:value => 'B'} B data
                %button.btn.btn-primary{:type => "submit"}  Đăng truyện
          
  
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1101931689850632";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  :javascript
    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
        f=files[0]
        // Only process image files.
        if (f.type.match('image.*')) {
          var reader = new FileReader();
          reader.onload = (function(theFile) {
            return function(e) {
              // alert(e.target.result);
              document.getElementById("something_unique").src=e.target.result;
            };
          })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
        }
      }
    document.getElementById('something_else_unique').addEventListener('change', handleFileSelect, false);               


